https://github.com/KurimuzonAkuma/pyrogram/archive/refs/tags/v2.1.33.zip
tgcrypto
requests
pyromod
yt-dlp
aiohttp
aiofiles
ffmpeg
ffprobe
asyncio
humanize
cryptg
wget
mediainfo
pycurl
aria2
async-lru
certifi
charset-normalizer
idna
mutagen
pyaes
pycryptodome
pyromod
PySocks
python-dotenv
soupsieve
urllib3
websockets
motor
pytz
umongo
speedtest-cli
bs4
httpx
Flask
